<form class="champs example-form">
    <mat-label>Intitulé</mat-label>

    <mat-form-field class="example-full-width">
        <input matInput placeholder="Intitulé">
    </mat-form-field>



    <mat-label>Code</mat-label>
    <mat-form-field class="example-full-width">
        <input matInput placeholder="Code">
    </mat-form-field>


    <mat-label>Description</mat-label>
    <mat-form-field class="example-full-width desciption">

        <textarea matInput placeholder="Description..."></textarea>
    </mat-form-field>


    <mat-label>Langue</mat-label>
    <mat-form-field class="example-full-width">

        <mat-select>
            <mat-option *ngFor="let food of foods" [value]="food.value">
                {{food.viewValue}}
            </mat-option>
        </mat-select>
    </mat-form-field>


</form>
